$logo-color: #6439ff;
.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 288);
    display: flex;
    align-items: center;
    
    font-size: 14px;
    color: #555;
    background-color: white;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search{
        display: flex;
        align-items: center;
        padding: 3px;

        .input{
            border: 0.5px solid lightgray;
            outline: none;
            background-color: transparent;

            &::placeholder{
                font-size: 12px;
            }  
        }
        .icon{
            font-size: 20px;
           padding: 5px;
        }

        
    }

    .items{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            margin-right: 20px; 
            position: relative;
            
            .avatar{
                border-radius: 50%;
            }

            span{
                color: #555;

                &:hover {
                    cursor: pointer;
                    color: #6439ff;
                  }
            }
           
        }
    }
}